.circle{
    display: flex;
    box-shadow: 0px 2px 10px 5px rgb(124, 124, 125);
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
a{    
    text-decoration: none;
    color: black;
    align-content: center;
    
}
.circle a:active{
    transform: scale(1.05);
}
.circle a:hover{
    transform: scale(1.05);
}


.sidebar{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

Button{
    margin-left: 5px !important;
}